[data-sprinkles] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -9999;
}
[data-sprinkle-container] {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%) translateY(-50%);
}
[data-sprinkle] {
  transform: translateX(0px) translateY(0px) scale(1);
  transition: 1.5s cubic-bezier(0,.76,.29,1) all;
  pointer-events: none;
}
